.version.research /* version checker */
{
	color: #000001;
	background-color: #5ACD01;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 549.55px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #E3FCFF;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -50px;
	padding-top: 75px;
	width: 0.01px;
}

#u681
{
	z-index: 12;
	width: 1200px;
	height: 49px;
	top: 0px;
	left: 50%;
	margin-left: -600px;
}

#u678
{
	z-index: 13;
	width: 38px;
	height: 40px;
	top: 5px;
	left: 50%;
	margin-left: -578px;
}

#u669-4
{
	z-index: 14;
	width: 1049px;
	min-height: 40px;
	top: 5px;
	left: 50%;
	margin-left: -521px;
}

#u674
{
	z-index: 19;
	width: 41px;
	height: 40px;
	top: 5px;
	left: 50%;
	margin-left: 487px;
}

#u684
{
	z-index: 18;
	width: 39px;
	height: 40px;
	top: 5px;
	left: 50%;
	margin-left: 539px;
}

#u676
{
	z-index: 26;
	width: 1200px;
	height: 24px;
	top: 49px;
	left: 50%;
	margin-left: -600px;
}

#u685-4
{
	z-index: 27;
	width: 127px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: -304px;
}

#u680-4
{
	z-index: 31;
	width: 147px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: -157px;
}

#u679-4
{
	z-index: 35;
	width: 127px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: 10px;
}

#u675-4
{
	z-index: 39;
	width: 127px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: 157px;
}

#u671-4
{
	z-index: 43;
	width: 127px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: 304px;
}

#u677-4
{
	z-index: 47;
	width: 127px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: 451px;
}

#pu673
{
	width: 0.01px;
}

#u673
{
	z-index: 2;
	width: 1200px;
	margin-bottom: -2px;
	margin-right: -10000px;
}

#u672-4
{
	z-index: 4;
	width: 1200px;
	min-height: 71px;
	margin-right: -10000px;
	margin-top: -1px;
}

#u683-4
{
	z-index: 8;
	width: 39px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 1139px;
}

#u682
{
	z-index: 3;
	width: 1200px;
	padding-bottom: 8px;
	margin-top: 404px;
}

#u670-6
{
	z-index: 20;
	width: 1077px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 61px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-bottom: 50px;
}

#page .verticalspacer
{
	clear: both;
}

