.version.untitled_13 /* version checker */
{
	color: #00001C;
	background-color: #6F7C36;
}

.html
{
	background-color: #000000;
}

#page
{
	z-index: 1;
	width: 1200px;
	min-height: 549.55px;
	background-image: none;
	border-style: none;
	border-color: #000000;
	background-color: #DCDCDC;
	padding-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
}

#page_position_content
{
	margin-bottom: -50px;
	padding-top: 75px;
	width: 0.01px;
}

#u318
{
	z-index: 18;
	width: 1200px;
	height: 50px;
	top: 0px;
	left: 50%;
	margin-left: -600px;
}

#u319
{
	z-index: 19;
	width: 38px;
	height: 40px;
	top: 5px;
	left: 50%;
	margin-left: -578px;
}

#u320-4
{
	z-index: 20;
	width: 1049px;
	min-height: 40px;
	top: 5px;
	left: 50%;
	margin-left: -521px;
}

#u322
{
	z-index: 25;
	width: 41px;
	height: 40px;
	top: 5px;
	left: 50%;
	margin-left: 487px;
}

#u321
{
	z-index: 24;
	width: 39px;
	height: 40px;
	top: 5px;
	left: 50%;
	margin-left: 539px;
}

#u324
{
	z-index: 26;
	width: 1200px;
	height: 24px;
	top: 49px;
	left: 50%;
	margin-left: -600px;
}

#u325-4
{
	z-index: 27;
	width: 127px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: -304px;
}

#u326-4
{
	z-index: 31;
	width: 147px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: -157px;
}

#u327-4
{
	z-index: 35;
	width: 127px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: 10px;
}

#u328-4
{
	z-index: 39;
	width: 127px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: 157px;
}

#u329-4
{
	z-index: 43;
	width: 127px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: 304px;
}

#u330-4
{
	z-index: 47;
	width: 127px;
	min-height: 26px;
	top: 49px;
	left: 50%;
	margin-left: 451px;
}

#pu314
{
	width: 0.01px;
}

#u314
{
	z-index: 2;
	width: 1200px;
	margin-bottom: -2px;
	margin-right: -10000px;
}

#u316-4
{
	z-index: 4;
	width: 1200px;
	min-height: 71px;
	margin-right: -10000px;
	margin-top: -1px;
}

#u317-4
{
	z-index: 8;
	width: 39px;
	min-height: 13px;
	margin-right: -10000px;
	margin-top: 57px;
	left: 1139px;
}

#u1702-4
{
	z-index: 51;
	width: 479px;
	min-height: 40px;
	background-color: transparent;
	color: #F15A24;
	font-size: 22px;
	text-align: left;
	line-height: 26px;
	font-family: Georgia, Palatino, Palatino Linotype, Times, Times New Roman, serif;
	margin-left: 22px;
	margin-top: 27px;
	position: relative;
}

#u1702-2
{
	padding-left: 10px;
	padding-top: 5px;
}

#u315
{
	z-index: 3;
	width: 1200px;
	padding-bottom: 8px;
	margin-top: 337px;
}

#u323-6
{
	z-index: 12;
	width: 1077px;
	margin-right: -10000px;
	margin-top: 8px;
	left: 61px;
}

body
{
	position: relative;
	min-width: 1200px;
	padding-bottom: 50px;
}

#page .verticalspacer
{
	clear: both;
}

